@charset "UTF-8";

.c-arrow {
  &::after {
    content: '';
    width: 7px;
    height: 7px;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    margin-top: -4px;
    @include tb {
      width: 9px;
      height: 9px;
    }
  }
}
