@charset "UTF-8";

.c-input {
  width: 100%;
  border: 1px solid #bdbdbd;
  border-radius: 3px;
  background: #fcf6f6;
  box-shadow: 0 1px 3px #cfcfcf inset;
  padding: 7px 10px;
  margin-bottom: 20px;
  @include tb {
    padding: 12px 10px;
    margin-bottom: 30px;
  }
}