@charset "UTF-8";

.c-input {
  width: 100%;
  border: 1px solid #bdbdbd;
  border-radius: 3px;
  background: #F5E7E5;
  box-shadow: 1px 1px 6px #C9BDBD inset;
  padding: 7px 10px;
  margin-bottom: 20px;
}