@charset "UTF-8";

.p-about {
  width: 100%;
  &__contents {
    text-align: center;
    margin-bottom: 100px;
    &__head {
      color: $accent-color01;
      font-size: 1.1em;
      margin-bottom: 20px;
      display: inline-block;
      position: relative;
      @include tb {
        font-size: 1.5em;
      }
      &::before {
        position: absolute;
        content: '';
        display: block;
        width: 1px;
        height: 50px;
        background: #000;
        bottom: -8px;
        right: 115%;
        transform: rotate(-40deg);
      }
      &::after {
        position: absolute;
        content: '';
        display: block;
        width: 1px;
        height: 50px;
        background: #000;
        bottom: -8px;
        left: 115%;
        transform: rotate(40deg);
        @include tb {
          right: 25%;
        }
      }
    }
    &__img {
      display: block;
      border-radius: 50%;
      width: 260px;
      height: 260px;
      object-fit: cover;
      margin: 0 auto;
      @include tb {
        width: 300px;
        height: 300px;
      }
      &--color01 {
        box-shadow: 10px 5px $accent-color03;
      }
      &--color02 {
        box-shadow: 10px 5px $accent-color02;
      }
    }
    &__text {
      font-family: $sub-font;
      padding: 20px 0;
      font-size: 1em;
      @include tb {
        font-size: 1.5em;
      }
    }
  }
}