@charset "UTF-8";

.p-addressee {
  margin-bottom: 50px;
  &__form {
    width: 90%;
    margin: 40px auto 0;
    &__select {
      &:last-of-type {
        margin-bottom: 30px;
      }
      &__heading {
        font-size: 1.2em;
        // & input {
        //   transform:scale(1.4)
        // }
      }
      &__gift-attention {
        font-size: .7em;
        margin-bottom: 20px;
        @include tb {
          font-size: .9em;
        }
      }
    }
  }
}