@charset "UTF-8";

.p-about {
  width: 100%;
  &__contents {
    text-align: center;
    margin-bottom: 80px;
    &__head {
      color: $accent-color01;
      font-size: 1.1em;
      margin-bottom: 20px;
      position: relative;
      &::before {
        position: absolute;
        content: '';
        display: block;
        width: 1px;
        height: 40px;
        background: #000;
        bottom: -8px;
        left: 18%;
        transform: rotate(-40deg);
      }
      &::after {
        position: absolute;
        content: '';
        display: block;
        width: 1px;
        height: 40px;
        background: #000;
        bottom: -8px;
        right: 18%;
        transform: rotate(40deg);
      }
    }
    &__img {
      border-radius: 50%;
      width: 260px;
      height: 260px;
      object-fit: cover;
      margin: 0 auto;
      &--green {
        box-shadow: 10px 5px $accent-color03;
      }
      &--pink {
        box-shadow: 10px 5px $accent-color02;
      }
    }
    &__text {
      font-family: $sub-font;
      padding: 20px 0;
      font-size: 1em;
    }
  }
}