@charset "UTF-8";

.p-credit-card {
  margin-bottom: 50px;
  &__contents {
    width: 90%;
    margin: 30px auto;
    @include tb {
      margin-top: 40px;
    }
    @include pc {
      margin-top: 60px !important;
    }
    &__list {
      margin-bottom: 40px;
      &__text {
        margin-bottom: 5px;
        @include tb {
          font-size: 1.2em;
        }
      }
      & img {
        width: 100%;
      }
    }
    &__form {
      &__select {
        &__input {
          width: 30%;
        }
        &:last-of-type {
          margin-bottom: 30px;
        }
      }
    }
  }
}