@charset "UTF-8";

.p-flow {
  background: #fff;
  overflow:hidden;
  &__wrapper {
    width: 80%;
    margin: 0 auto 50px;
    &__contents {
      margin-bottom: 30px;
      &__item {
        border: #707070 1px solid;
        background: #FFFAFB;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 20px 15px;
        margin-bottom: 15px;
        &__heading {
          text-align: center;
          color: $accent-color01;
          border-bottom: 1px dotted #707070;
          padding-bottom: 5px;
          margin-bottom: 10px;
          @include tb {
            font-size: 1.2em;
          }
        }
        &__text {
          width: 50%;
          text-align: center;
          font-size: .9em;
          @include tb {
            font-size: 1.2em;
          }
        }
        &__figure {
          text-align: center;
          &__img {
            width: 50%;
            object-fit: contain;
            &-select {
              width: 80px;
              @include tb {
                width: 130px;
              }
            }
            &-maill {
              width: 70px;
              @include tb {
                width: 90px;
              }
            }
            &-track {
              width: 80px;
              @include tb {
                width: 130px;
              }
            }
            &-bouquet {
              width: 50px;
              @include tb {
                width: 80px;
              }
            }
          }
        }
      }
    }
    &__attention {
      padding: 15px 0;
      @include tb {
        padding-bottom: 100px;
      }
    }
  }
}

