@charset "UTF-8";

.p-flower-img {
  background: url(../images/flower.png) no-repeat center/cover; 
  width: 100vw;
  height: 0;
  padding-top: calc(290 / 753 * 100%);
  // margin-bottom: 20px;
  @include pc {
    background-attachment: fixed;
    height: 50vh;
    padding: 0;
    width: 100%;
    
  }
}