@charset "UTF-8";

.p-header {
  display: none;
}
@include pc {
  .p-header {
    display: block;
    background: $main-color;
    font-family: $sub-font;
    position: relative;
    &-top {
      width: calc(100% - 320px);
      height: 18vh;
      margin-left: auto;
      margin-right: 0;
      padding: 20px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      &__catch {
        width: 70%;
        max-width: 650px;
        margin: 0 auto;
        &__text {
          font-size: 1.8em;
          color: $sub-color;
          text-shadow: rgba(121, 121, 121, 0.397) 3px 1px 3px;
          text-align: left;
          &-right {
            text-align: right;
          }
        }
      }
      &__register {
        width: 25%;
        font-size: 1.3em;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        margin: 10px 0 0;
        &__link {
          display: block;
          margin-right: 30px;
          &__img {
            margin: 0 auto;
            display: block;
            &--sign-up {
              width: 40px;
            }
            &--login {
              width: 27px;
            }
          }
  
        }
      }
    }
    &-left{
      position: absolute;
      width: 280px;
      background: url(../images/nav.png) repeat-y;
      background-size: cover;
      height: 100vh;
      top: 0;
      &__logo {
        width: 100%;
        margin: 30px 0;
        & img {
          display: block;
          width: 90%;
          margin: 0 auto;
        }
      }
      &__instagram {
        display: block;
        font-size: 1.3em;
        text-align: center;
        background: rgba(255,255,255,0.4);
        width: 80%;
        margin: 0 auto;
        padding: 7px 5px;
        // border: 1px solid #bbbbbb;
        & img {
          width: 30px;
        }
      }
    }
  }  
}
