@charset "UTF-8";

/* TOP header 
======================*/
.p-header {
  background: url(../images/top.png) no-repeat;
  background-size: cover;
  background-position: left 26% bottom 5%;
  // background-position: left calc(100% - -630px) bottom calc(100% - 5%);
  width: 100%;
  height: 80vh;
  @include tb {
    background-position: left 18% bottom 5%;
  }
  &__logo {
    text-align: center;
    padding-top: 30px;
    & img {
      width: 70%;
      max-width: 480px;
      @include tb {
        width: 400px;
      }
    }
  }
  &__catch {
    text-align: center;
    padding: 30px 20px;
    font-size: 2.4vh;
    font-family: $sub-font;
    color: #fff;
    text-shadow: black 3px 2px 5px;
    line-height: 1.7;
    @include tb {
      font-size: 2.7vh;
    }
  }
}