@charset "UTF-8";

.p-kind {
  margin-bottom: 50px;
  &__heading {
    font-size: 1.1em;
    text-align: center;
    padding: 30px 0 10px;
  }
  &__attention {
    font-size: .8em;
    text-align: center;
    margin-bottom: 30px;
  }
  &__wrapper {
    margin-bottom: 10px;
    &__heading {
      background: $main-color;
      display: inline-block;
      padding: 3px 10px;
      margin: 10px 20px 20px;
      color: $sub-color;
      font-size: .9em;
      box-shadow: #E0E0E0 2px 2px 6px;
      & span {
        color: $accent-color01;
      }
    }
    &__card {
      display: flex;
      justify-content: space-around;
      &__item {
        margin-bottom: 20px;
        text-align: center;
        font-size: .8em;
        & img {
          display: block;
          width: 80%;
          margin: 0 auto 5px;
        }
      }
    }
  }
}