@charset "UTF-8";

.p-kind {
  @include pc {
    margin-bottom: 60px !important;
  }
  &__wrapper {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 10px;
    
    &__heading {
      background: $main-color;
      display: inline-block;
      padding: 3px 10px;
      margin: 10px 0;
      color: $sub-color;
      font-size: .9em;
      box-shadow: #E0E0E0 2px 2px 6px;
      @include tb {
        font-size: 1.2em;
        margin-bottom: 15px;
      }
      & span {
        color: $accent-color01;
      }
    }
  }
  &__form {
    width: 90%;
    margin: 0 auto;
  }
}

