@charset "UTF-8";

.p-kind {
  &__heading {
    font-size: 1.1em;
    text-align: center;
    padding: 30px 0 10px;
    @include tb {
      font-size: 1.3em;
    }
  }
  &__wrapper {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 10px;
    &__heading {
      background: $main-color;
      display: inline-block;
      padding: 3px 10px;
      margin: 10px 0;
      color: $sub-color;
      font-size: .9em;
      box-shadow: #E0E0E0 2px 2px 6px;
      @include tb {
        font-size: 1.2em;
        margin-bottom: 15px;
      }
      & span {
        color: $accent-color01;
      }
    }
    &__card {
      display: flex;
      justify-content: space-between;
      &__item {
        margin-bottom: 20px;
        text-align: center;
        font-size: .8em;
        width: 47%;
        @include tb {
          font-size: 1.1em;
        }
        & img {
          display: block;
          width: 100%;
          margin: 0 auto 5px;
        }
      }
    }
  }
  &__form {
    width: 90%;
    margin: 0 auto;
  }
}