
@charset "UTF-8";

.p-link-more {
  display: block;
  width: 100px;
  margin-left: auto;
  position: relative;
  font-size: .9;
  &::after {
  border-top: solid 2px $font-color;
  border-right: solid 2px $font-color;
  top: 50%;
  right: 3px;
  }
}