@charset "UTF-8";

.p-page-nav {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  @include tb {
    font-size: 1.2em;
  }
  &__item {
    background: $sub-color;
    color: #fff;
    width: 45px;
    text-align: center;
    margin: 0 5px;
    padding: 3px 0;
    @include tb {
      width: 55px;
    }
    &-active {
      background: $accent-color02;
    }
  }
  &__extend {
    padding: 0 5px;
  }
}