@charset "UTF-8";

.p-question {
  margin-bottom: 20px;
  @include tb {
    margin-bottom: 50px;
  }
  @include pc {
    width: 45%;
    margin-bottom: 150px;
  }
  &__contents {
    display: block;
    width: 90%;
    margin: 0 auto;
    @include tb {
      width: 85%;
    }
    @include pc {
      width: 100%;
    }
    &__item {
      background: #F5E7E5;
      border: 1px dashed #bbbbbb;
      margin-bottom: 20px;
      &__link {
        display: flex;
        padding: 15px 20px;
        @include tb {
          padding: 15px 60px;
        }
        &__icon {
          width: 50px;
          margin-bottom: 10px;
          margin-right: 20px;
          object-fit: contain;
          @include tb {
            width: 60px;
          }
        }
        &__text {
          display: flex;
          align-items: center;
          font-size: 1em;
          @include tb {
            font-size: 1.4em;
          }
          @include pc {
            font-size: 1em;
          }
        }
      }
    }
  }
}