@charset "UTF-8";

.p-review {
  margin-bottom: 20px;
  @include tb {
    margin-bottom: 50px;
  }
  &__contents {
    margin-bottom: 50px;
    &__card {
      display: flex;
      justify-content: space-evenly;
      width: 100%;
      margin-bottom: 35px;
      @include tb {
        width: 95%;
        margin: 0 auto 35px;
      }
      &__item {
        width: 46%;
        background: #fff;
        box-shadow: #E0E0E0 2px 2px 6px;
        padding: 10px 15px;
        display: flex;
        flex-direction: column;
        @include tb {
          width: 44%;
          padding: 15px 20px;
        }

        &__heading {
          font-size: .8em;
          text-align: center;
          margin-bottom: 10px;
          @include tb {
            font-size: 1.2em;
          }
        }
        &__img {
          width: 100%;
          margin-bottom: 10px;
        }
        &__text {
          font-size: .7em;
          @include tb {
            font-size: 1.1em;
          }
          &__from {
            text-align: right;
            font-size: .7em;
            line-height: 1.7;
            margin-top: auto;
            @include tb {
              font-size: 1.1em;
            }
          }
        }
      }
    }
    &__attention {
      padding-top: 15px ;
    }
  }
}
